/*//////////////////////////////////Contacts style///////////////////////////////*/
.contacts-wrapper {
    width: 100vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8.33vh;
    background-color: #4E5476;
    border-radius: 4.17vw 4.17vw 0 0;
}
.contacts-theme {
    width: 80%;
    height: 13.88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5vw;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
}
.question {
    width: 94.44vw;
    height: 31.53vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.56vw;
    background: #F4E3B0;
    border-radius: 4.17vw;
}
.question-left {
    width: 40%;
}
.question-theme, .question-theme-2 {
    color: #363D63;
    font-family: Rubik, serif;
    font-size: 4.17vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.question-theme-2 {
    margin-bottom: 2.78vw;
    font-style: italic;
}
.question-describe {
    width: 30.04vw;
    color: #363D63;
    font-family: Rubik, serif;
    font-size: 1.94vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.question-right {
    width: 41.67vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.question-right img {
    width: 22.7vw;
    height: 22.7vw;
    position: relative;
    z-index: 1;
    left: -10.42vw;
}
.question-arrow {
    position: absolute;
    right: 0.07vw;
}
.telegram {
    width: 22.7vw;
    height: 22.7vw;
    display: flex;
    position: absolute;
    z-index: 2;
    right: 10.42vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2C130;
    border-radius: 50%;
}
.telegram div {
    width: 11.74vw;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 2.22vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.telegram:hover {
    background: #2C324D;
}
.telegram:hover div {
    color: #ffffff;
}
.telegram:hover svg path {
    fill: #FFFFFF;
}
.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.3vw;
}
.social {
    width: 31.25vw;
    height: 13.89vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2.78vw;
    margin: 0.21vh;
    border-radius: 4.17vw;
    background: #383F65;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 2.22vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.social svg {
    width: 2.78vw;
    height: 2.78vw;
}
.social div {
    font-size: 2.22vw;
}
.social:hover {
    background: #ffffff;
}
.social:hover div {
    color: #2C324D;
}
.social:hover svg path {
    fill: #2C324D;
}
/*//////////////////////////////////Contacts mobile style///////////////////////////////*/
@media (max-width: 576px) {
    .contacts-wrapper {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 14.02vw;
        padding: 5.61vw 0;
        background-color: #4E5476;
        border-radius: 40px;
    }
    .contacts-theme {
        width: 80%;
        height: auto;
        margin: 14.02vw 0 7.48vw 0;
        font-size: 11.69vw;
    }
    .question {
        width: 88.88vw;
        height: 128.49vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 60px;
        background: #F4E3B0;
    }
    .question-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .question-theme, .question-theme-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #363D63;
        font-family: Rubik, serif;
        font-size: 7.48vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .question-theme-2 {
        margin-bottom: 9.35vw;
        font-style: italic;
    }
    .question-describe {
        width: 77.52vw;
        color: #363D63;
        font-family: Rubik, serif;
        font-size: 4.67vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .question-right {
        width: 100vw;
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 60px;
    }
    .question-right img {
        width: 44.4vw;
        height: 44.4vw;
        position: relative;
        z-index: 1;
        left: -18%;
    }
    .question-arrow {
        display: none;
    }
    .telegram {
        width: 44.4vw;
        height: 44.4vw;
        display: flex;
        position: absolute;
        z-index: 2;
        right: 8%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 327px;
        background: #F2C130;
    }
    .telegram div {
        width: 39.5vw;
        color: #1C274C;
        text-align: center;
        font-family: Rubik, serif;
        font-size: 4.67vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .telegram svg {
        width: 9.35vw;
        height: 9.35vw;
        margin-bottom: 2.34vw;
    }
    .telegram:hover {
        background: #2C324D;
    }
    .telegram:hover div {
        color: #ffffff;
    }
    .telegram:hover svg path {
        fill: #FFFFFF;
    }
    .socials {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.7vw;
    }
    .social {
        width: 88.88vw;
        height: 28.99vw;
        padding: 5.61vw;
        border-radius: 9.35vw;
        font-size: 5.61vw;
    }
    .social svg {
        width: 9.35vw;
        height: 9.35vw;
    }
    .social div {
        font-size: 5.61vw;
    }
}