/*//////////////////////////////////Feedback style///////////////////////////////*/
.feedback-wrapper {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9.03vw auto 0 auto;
}
.feedback-container-top {
    width: 100%;
    height: 6.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.08vw;
}
.feedback-theme {
    width: 70%;
    display: flex;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
}
.feedback-theme span {
    margin: 0 0.9vw 0 0;
}
.arrow-pagination {
    width: 5.14vw;
    height: 4.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.35vw;
    background-color: #F2C130;
    border-radius: 50%;
}
.arrow-pagination:hover {
    background-color: #ffffff;
}
.feedback-pagination {
    width: 11.11vw;
    display: flex;
}
.feedback-container-bottom {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    gap: 0.69vw;
}
.pagination-desktop{
    margin: 0 43vw;
}
.feedback-container-bottom::-webkit-scrollbar {
    display: none;
}
.feedback-item {
    width: 18.61vw;
    height: 24.17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.35vw;
    padding: 1.67vw;
    scroll-snap-align: start;
    flex: 0 0 auto;
    background: #F5F5F7;
    border-radius: 2.78vw;
}
.item-theme {
    width: 9.03vw;
    height: 2.29vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.56vw 0.97vw;
    gap: 0.69vw;
    border-radius: 4.72vw;
    background: #D5CAF1;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.item-describe {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75vw;
}
.read-far {
    width: fit-content;
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: none;
    text-decoration: none;
}
.read-far:hover{
    text-decoration: underline;
}
.commentator-block {
    display: flex;
    justify-content: start;
    align-items: center;
}
.commentator-info {
    margin-left: 0.69vw;
}
.commentator {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.comment-avatar img {
    width: 3.47vw;
    height: 3.47vw;
}
.commentator-location {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.swiper-wrapper{
    margin-bottom: 2.78vw;
}
.pagination-desktop .swiper-pagination-bullet{
    width: 0.74vw;
    height: 0.74vw;
    display: inline-block;
    margin: 0 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 1;
    background-color: #F5F5F7;
    border-radius:50%;
}
.pagination-desktop .swiper-pagination-bullet-active {
    background-color: #F26F6E;
}
/*//////////////////////////////Feedback mobile style//////////////////////////*/
@media (max-width: 576px) {
    .feedback-wrapper {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .swiper-wrapper {
        padding-left: 3vw;
    }
    .feedback-container-top {
        width: 100%;
        height: 27.57vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7.01vw;
        margin-top: 14.02vw;
    }
    .feedback-theme {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 11.68vw;
        letter-spacing: -0.47vw;
    }
    .feedback-pagination {
        display: none
    }
    .item-theme {
        width: 43.69vw;
        height: 7.71vw;
        font-size: 3.27vw
    }
    .item-describe {
        font-size: 3.74vw;
        line-height: 6.54vw
    }
    .read-far {
        font-size: 3.74vw;
    }
    .commentator-info {
        margin-left: 0.69vw;
    }
    .commentator {
        font-size: 3.27vw
    }
    .comment-avatar img {
        width: 11.68vw;
        height: 11.68vw;
    }
    .commentator-location {
        font-size: 3.27vw
    }
    .feedback-container-bottom {
        user-select: none;
    }
    .swiper-wrapper{
        margin-bottom: 20.7vw;
    }
    .feedback-container-bottom::-webkit-scrollbar {
        display: none;
    }
    .feedback-item {
        width: 90.19vw;
        height: 81.31vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.17vw;
        padding: 5.61vw;
        scroll-snap-align: center;
        flex: 0 0 auto;
        border-radius: 9.35vw;
        background: #F5F5F7;
    }
    #dot-feedback, #dot-feedback2, #dot-feedback3, #dot-feedback4 {
        display: flex;
    }
}