
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#body {
    width: 100%;
    max-width: 1920px;
    min-width: 420px;
    height: auto;
    background: #2C324D;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 576px) {
    #body {
        width: 100%;
        height: auto;
    }
}

/*////////////////////////////////// <a> link style///////////////////////////////*/
a {
    text-decoration: none !important;
    color: inherit;
    outline: none;
}

a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.button a, .double-main-button a {
    text-decoration: none !important;
    color: inherit;
    outline: none;
}

.button, .double-main-button a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/*/////////////////////////////popover btn////////////////////////////////*/

.myToolTip{
    width: 30px;               /* Ширина кнопки */
    height: 30px;              /* Висота кнопки */
    background-color: #007bff; /* Колір фону (синій) */
    color: white;              /* Колір тексту або іконки */
    border: none;              /* Видаляємо рамку */
    border-radius: 50%;        /* Робимо кнопку круглою */
    display: flex;             /* Для вирівнювання іконки по центру */
    justify-content: center;   /* Горизонтальне вирівнювання по центру */
    align-items: center;       /* Вертикальне вирівнювання по центру */
    cursor: pointer;           /* Вказівник у вигляді руки */
    font-size: 1.5rem;         /* Розмір іконки або тексту */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тінь для ефекту */
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.myToolTip:hover{
    background-color: #0056b3; /* Темніший синій */
    transform: scale(1.1);     /* Збільшення кнопки */
}
.custom-tooltip  .tooltip-inner{
    background-color: rgba(248, 249, 250, 1);
    color: #212529;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    max-width: 300px;
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);

    text-align: left;
}

/* Стилізація списку в tooltip */
.myToolTip__list {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.myToolTip__list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

/* Додаємо галочки перед текстом */
.myToolTip__list li::before {
    content: '✔'; /* Галочка */
    color: #28a745;
    margin-right: 8px;
    font-size: 1.2rem;
}

/* Додаткова стилізація тексту */
.myToolTip__list li span {
    display: inline-block;
}








/*//////////////////////////////////NavBar style///////////////////////////////*/
.navbar {
    background-color: #4E5476;
}

.navbar-nav a {
    color: #FFF;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.nav-item:hover .nav-link {
    color: #F2C130;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.7vw;
    height: 5.4vh;
    gap: 0.5vw;
    background: none;
    border-radius: 3.5vw;
    border: 0.05vw solid #D2D2D7;
    color: #FFF;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button:hover {
    background: #FFF;
    color: #1C274C;
}

.container-custom {
    max-width: 100vw;
    width: 100%;
    margin: 0 auto;
    overflow-wrap: break-word;
}

/*//////////////////////////////////Header mobile version style///////////////////////////////*/
@media (max-width: 575px) {
    .container-custom {
        max-width: 100%;
    }

    #header {
        width: 100%;
        height: 51.25rem;
        background-color: #4E5476;
        justify-content: space-between;
        padding: 0 0 0.8rem 0;
    }

    .navbar-nav a {
        font-size: 0.875rem;
    }

    .button {
        width: 50vw;
        height: 2.875rem;
        gap: 0.625rem;
    }

    #bubbles {
        width: 85vw;
        color: #FFF;
        text-align: center;
        font-family: Rubik, serif;
        font-size: 6.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 6.5rem;
        letter-spacing: -0.27rem;
        word-wrap: break-word;
    }

    #english-bubble-block {
        margin-top: 4rem;
        width: 80%;
    }

    #by-greenForest-container {
        top: 12rem; /* 190px ≈ 12rem */
        width: 13rem; /* 191px ≈ 13rem */
        height: 3.2rem; /* 51px ≈ 3.2rem */
        border-radius: 6.875rem; /* 110px ≈ 6.875rem */
    }

    #by-greenForest-text {
        width: 9.94rem; /* 159px ≈ 9.94rem */
        height: 1.5rem; /* 24px ≈ 1.5rem */
        font-size: 1.125rem; /* 18px ≈ 1.125rem */
        letter-spacing: -0.045rem; /* -0.72px ≈ -0.045rem */
        justify-content: center;
        align-items: center;
    }

    #container-sm-fs {
        font-size: 1rem; /* 16px ≈ 1rem */
        margin-top: 10.8125rem; /* 173px ≈ 10.8125rem */
    }

    /* Основна кнопка */
    #double-main-button {
        padding: 1.5rem 3.75rem; /* 24px ≈ 1.5rem, 60px ≈ 3.75rem */
        gap: 0.625rem; /* 10px ≈ 0.625rem */
        border-radius: 4.25rem; /* 68px ≈ 4.25rem */
        font-size: 1.5rem; /* 24px ≈ 1.5rem */
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }

    /* задній елемент, що імітує тіньову кнопку */
    #button-shadow {
        top: 0.5rem; /* 8px ≈ 0.5rem */
        left: 0.25rem; /* 4px ≈ 0.25rem */
        width: 97%;
        height: 97%;
        border: 0.125rem solid #FFC107; /* 2px ≈ 0.125rem */
        border-radius: 1.875rem; /* 30px ≈ 1.875rem */
    }

    .arrow-icon {
        display: none;
    }

    #circle-image-list {
        display: flex;
        justify-content: start;
        overflow: hidden;
        width: 100%;
    }

    #circle-imag {
    }

    #circle-image-wrapper {
        height: 14.125rem; /* 226px ≈ 14.125rem */
        position: relative;
    }

    #avatar-1,
    #avatar-2,
    #avatar-3,
    #avatar-4,
    #avatar-5,
    #avatar-6,
    #avatar-7,
    #avatar-8 {
        width: 14.125rem; /* 226px ≈ 14.125rem */
        height: 14.125rem; /* 226px ≈ 14.125rem */
        border-radius: 10.625rem; /* 170px ≈ 10.625rem */
        background-color: rgba(211, 211, 211);
        overflow-x: hidden;
        left: 0;
        margin-left: -2rem; /* -30px ≈ -2rem */
    }

    .circle-avatar:hover {
        background-color: rgb(243, 240, 240);
    }

}

/*//////////////////////////////////Header style///////////////////////////////*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 56.94vw;
    background-color: #4E5476;
    border-bottom-left-radius: 5.56rem;
    border-bottom-right-radius: 5.56rem;
    overflow-x: hidden;
}

.english-bubble-title {
    display: flex;
    width: 100%;
    height: 7.43vw;
    /*flex-direction: column;*/
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 9.72vw;
    font-style: normal;
    font-weight: 700;
    line-height: 7.57vw;
    letter-spacing: -0.39vw;
}

.english-bubble-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3.26vw;
}

.by-greenForest-container {
    position: absolute;
    top: 6.6vw;
    width: 13.26vw;
    height: 3.89vw;
    transform: rotate(-4.021deg);
    flex-shrink: 0;
    border-radius: 7.64vw;
    background: #997AEA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.by-greenForest-text {
    display: flex;
    width: 11.04vw;
    height: 1.67vw;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 1.39vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.06vw;
    text-transform: uppercase;
}

.english-bubble-description {
    margin-top: 2.78vw;
    width: 70%;
    height: 15%;
    color: #D5CAF1;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Загальний контейнер кнопки */
.double-button-wrapper {
    position: relative;
    display: inline-block;
}

/* Основна кнопка */
.double-main-button {
    position: relative;
    z-index: 2;
    display: inline-flex;
    padding: 1.67vw 4.17vw;
    justify-content: center;
    align-items: center;
    gap: 0.69vw;
    border-radius: 4.72vw;
    background: #F2C130;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    box-shadow: 0 0.28vw 0.56vw rgba(0, 0, 0, 0.1);
    border: none;
}

.double-main-button:hover {
    background: #FFF;
}

/* задній елемент, що імітує тіньову кнопку */
.button-shadow {
    position: absolute;
    z-index: 1;
    top: 0.56vw;
    left: 0.28vw;
    width: 97%;
    height: 97%;
    background-color: transparent;
    border: 0.14vw solid #FFC107;
    border-radius: 2.08vw;
    transform: rotate(4.021deg);
}

.arrow-icon {
    position: absolute;
    z-index: 1;
    top: 13.89%;
    right: -4.86vw;
    transform: translateY(-50%);
    color: #2E2E40;
}

/*//////////////////////////////////Photo avatar circle style///////////////////////////////*/
.circle-image-wrapper {
    width: 100%;
    height: 15.69vw;;
    position: relative;
}

.circle-image-list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: absolute;
    opacity: 0.5;
}

.circle-avatar {
    width: 15.69vw;
    height: 15.69vw;
    flex-shrink: 0;
    border-radius: 11.81vw;;
    background-color: rgba(211, 211, 211);
    overflow-x: hidden;
    left: 0;
    margin-left: -2.08vw;
}

.circle-avatar:hover {
    background-color: rgb(243, 240, 240);
}

/*//////////////////////////////////Events style///////////////////////////////*/
.event-container {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    margin: 120px auto 0 auto;
}

.our-events {
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22rem;

}

.event-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    /*width: 64.17rem;*/
    justify-content: center;
    gap: 1rem;
    width: 80%;
}

.event-button {
    display: inline-flex;
    padding: 0.83rem 1.67rem;
    justify-content: center;
    align-items: center;
    gap: 0.69rem;
    border-radius: 4.72rem;
    background: #FFF;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.event-button:hover {
    background: #F2C130;
}

.event-button a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.event-button a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

/*//////////////////////////////////Event mobile version style///////////////////////////////*/
@media (max-width: 576px) {
    .event-buttons-wrapper {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
        justify-content: flex-start;
    }

    .event-buttons-wrapper::-webkit-scrollbar {
        display: none;
    }

    .event-button {
        flex: 0 0 auto;
    }

    .our-events {
        color: #FFF;
        font-family: Rubik, serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -2px;
    }

    .event-container {
        margin-top: 40px;
    }
}

/*//////////////////////////////////Events sliders style///////////////////////////////*/
.slider-wrapper {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px auto 0 auto;
}

.wrapper-item {
    width: 100%;
    height: calc(90vw / 4);
    border-radius: 5vw;
    position: relative;
    margin: 5px auto;
    transition: all 0.5s ease;
    cursor: pointer;
}

.front-item {
    position: absolute;
    width: 49.7%;
    height: 100%;
    z-index: 2;
    transition: transform 0.5s ease;
    left: 35%;
}

.front-item img {
    height: 100%;
}

.back-item {
    position: absolute;
    width: 59%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
    background: #FFF;
    font-size: 2vw;
    font-weight: 500;
    z-index: 1;
    transform: translateX(-30%);
    transition: transform 0.5s ease;
    left: 35%;
}

.icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-block img,
.icon-block2 img {
    width: calc(3vw + 10px);
    height: calc(3vw + 10px);
}

.info-block {
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.theme-block {
    color: #062440;
    font-family: Rubik, serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -1.84px;
}

.theme-block-describe {
    color: #062440;
    font-family: Rubik, serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    flex-wrap: wrap;
}

.button-block {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.but-time, .but-day, .but-online {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 50px;
    background: #D5CAF1;
    color: #2C324D;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px;
}

.button-between {
    width: 1vw;
    height: 15px;
    background: #D5CAF1;
    margin: 0 -1.3vw;
}

.front-item.visible {
    transform: translateX(30.5%);
}

.back-item.visible {
    transform: translateX(-59.4%);
}

/*///////////////////////////Slider 2/////////////////////////*/
.wrapper-item-reverse {
    width: 100%;
    height: calc(90vw / 4);
    border-radius: 5vw;
    position: relative;
    margin: 5px auto;
    transition: all 0.5s ease;
    cursor: pointer;
}

.front-item2 {
    position: absolute;
    width: 49.7%;
    height: 100%;
    z-index: 2;
    transition: transform 0.5s ease;
    transform: translateX(-35%);
    left: 35%;
}

.front-item2 img {
    height: 100%;
}

.back-item2 {
    position: absolute;
    width: 59%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    background: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    z-index: 1;
    transform: translateX(27.2%);
    transition: transform 0.5s ease;
    left: 10%;
}

.icon-block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.info-block2 {
    display: flex;
    height: 70%;
    width: 55%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.theme-block-describe2 {
    width: 50%;
    color: #062440;
    font-family: Rubik, serif;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
}

.front-item2.visible {
    transform: translateX(-70.1%);
}

.back-item2.visible {
    transform: translateX(52.7%);
}

/*///////////////////////////Slider 3/////////////////////////*/
.info-block3, .info-block5, .info-block7 {
    width: 83%;
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.wrapper-item:hover .back-item3 {
    transform: translateX(-59.4%);
}

/*///////////////////////////Slider 5/////////////////////////*/
.theme-block-describe5 {
    width: 71%;
    color: #062440;
    font-family: Rubik, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
}

.theme-block-mob {
    display: none;
}

.dots-container {
    display: none;
}

.what-you-get-wrapper-mobile {
    display: none;
}

/*//////////////////////////////////Events sliders mobile version style///////////////////////////////*/
@media (max-width: 575px) {
    .slider-wrapper-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider-wrapper {
        width: 90%;
        margin-top: 3vh;
        height: 54.4vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        justify-content: flex-start;
    }

    .slider-wrapper > div {
        min-width: 100%;
        margin-right: 3.5%;
        scroll-snap-align: start;
    }

    .wrapper-item, .wrapper-item-reverse {
        width: 90%;
        height: 52.4vh;
        border-radius: 14vw;
        position: relative;
        margin: 1vh auto;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .front-item {
        position: absolute;
        width: 100%;
        height: 26.6vh;
        z-index: 2;
        left: 0;
    }

    .front-item2 {
        transform: translateX(0%);
        left: 0;
        width: 100%;
        height: 26.6vh;
    }

    .front-item img, .front-item2 img {
        width: 100%;
        height: 100%
    }

    .back-item, .back-item2 {
        position: absolute;
        width: 100%;
        height: 32.4vh;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        border-radius: 9vw;
        background: #FFF;
        font-size: 1.2em;
        font-weight: 500;
        z-index: 1;
        transition: transform 0.5s ease;
        transform: translateY(10%);
        left: 0;
    }

    .icon-block, .icon-block2 {
        display: none;
    }

    .info-block, .info-block2, .info-block3, .info-block5, .info-block7 {
        display: flex;
        width: 88%;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 2vh;
    }

    .theme-block {
        display: none;
    }

    .theme-block-mob img {
        margin-right: 2.8vw;
    }

    .theme-block-mob {
        display: flex;
        align-items: center;
        color: #062440;
        font-family: Rubik, serif;
        font-size: 6vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.3vw;
    }

    .theme-block-describe, .theme-block-describe2, .theme-block-describe5 {
        width: 85%;
        color: #062440;
        font-family: Rubik, serif;
        font-size: 4.7vw;
        font-style: normal;
        font-weight: 400;
        line-height: 1.3em;
    }

    .button-block {
        display: flex;
        align-items: center;
        gap: 1vw;
    }

    .but-time, .but-day, .but-online {
        font-size: 3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 2.8vw;
        margin-bottom: 0.5vh;
    }

    .button-between {
        width: 4vw;
        height: 1.6vh;
        background: #D5CAF1;
        margin: 0 -2vw;
    }

    .dots-container, .dotsS-container, .tariffs-dots-container {
        display: flex;
        text-align: center;
        margin-top: 1.1vh;
    }

    .dot, .dot-s, .tariffs-dot {
        display: inline-block;
        width: 3.74vw;
        height: 3.74vw;
        background-color: gray;
        border-radius: 50%;
        margin: 0 1.2vw;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .dot.active {
        background-color: #F2C130;
    }

    .dot-s.active {
        background-color: #F2C130;
    }

    .tariffs-dot.active {
        background-color: #F2C130;
    }


    .front-item.visible {
        transform: translateX(0);
    }

    .back-item.visible {
        transform: translatey(65%);
    }

    .front-item2.visible {
        transform: translateX(0);
    }

    .back-item2.visible {
        transform: translatey(65%);
    }

    .wrapper-item:hover .back-item3 {
        transform: translatey(65%);
    }
}

/*//////////////////////////////////What will you get?///////////////////////////////*/
.what-you-get-wrapper {
    width: 94.4vw;
    height: 60%;
    /*height: 96.62vh;*/
    margin: 6.9vh auto 0 auto;
}

#what-you-get-top-section {
    width: 100%;
    height: 70%;
    display: flex;
}

.top-left-column {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.what-you-get-title {
    width: 100%;
    height: 46.04%;
    color: #FFF;
    display: flex;
    align-items: center;
    font-family: Rubik, serif;
    font-size: 5.55vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
    padding: 9.6% 0 4% 0;
    margin-top: 4%;
}

.what-you-get-components {
    width: 100%;
    height: 73%;
    display: flex;
}

.event-access-component {
    width: 46.4%;
    background: #D5CAF1;
    margin: 0 0.35vw 0 0;
}

.event-access-component,
.community-component,
.qualified-teachers-component,
.regular-practice-component,
.event-formats-component {
    border-radius: 4.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2.78vw
}

.event-access-component div,
.community-component div,
.qualified-teachers-component div,
.regular-practice-component div,
.event-formats-component div {
    color: #1C274C;
    width: 21.25vw;
    font-family: Rubik, serif;
    font-size: 1.94vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.event-access-component img,
.community-component img,
.qualified-teachers-component img,
.regular-practice-component img,
.event-formats-component img {
    width: 4.16vw;
    height: 4.16vw;
    flex-shrink: 0;
    margin: 0 0 4.58vw 0;
}

.community-component {
    width: 30.8vw;
    margin: 0 0.35vw 0 0;
}

.community-component,
.qualified-teachers-component,
.event-formats-component {
    background: #FFF;
}

.top-right-image {
    width: 38%;
    height: 100%;
}

.top-right-image img {
    width: 100%;
    height: 97.5%;
}

.qualified-teachers-component {
    width: 33.2vw;
    margin: 0 0.35vw 0.35vh 0;
}

.regular-practice-component {
    background: #F4E3B0;
    width: 27.4vw;
}

.event-formats-component {
    width: 33.1vw;
    margin: 0 0.35vw 0.35vh 0.35vw;
}

.what-you-get-bottom-section {
    display: flex;
    margin-top: 0.5vh;
}

/*//////////////////////////////////What will you get Mobile///////////////////////////////*/

@media (max-width: 575px) {
    #what-you-get-wrapper {
        display: none;
    }

    .what-you-get-wrapper-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 14vw;
    }

    .what-you-get-wrapper::-webkit-scrollbar {
        display: none;
    }

    .what-you-get-slider {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .what-you-get-title-mob {
        width: 100%;
        color: #FFF;
        font-family: Rubik, serif;
        font-size: 11.7vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.47vw;
        margin-bottom: 7.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .event-access-component {
        width: 90.2vw;
        background: #D5CAF1;
    }

    .event-access-component img,
    .community-component img,
    .qualified-teachers-component img,
    .regular-practice-component img,
    .event-formats-component img {
        width: 14.02vw;
        height: 14.02vw;
    }

    .event-access-component div,
    .community-component div,
    .qualified-teachers-component div,
    .regular-practice-component div,
    .event-formats-component div {
        width: 79.34vw;
        font-size: 6.54vw;
    }

    .event-access-component,
    .community-component,
    .qualified-teachers-component,
    .regular-practice-component,
    .event-formats-component {
        width: 90.2vw;
        height: 59.4vw;
        flex-shrink: 0;
        border-radius: 9.35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 6.64vw;
        margin: 0 1.2vw 0 0;
        scroll-snap-align: start;
    }

}

/*//////////////////////////////////Tariffs style///////////////////////////////*/
.left {
    transform: translateX(50%);
}

/* Центральний блок */
.center {
    transform: translateX(-50%);
}

/* Правий блок */
.right {
    transform: translateY(30%);
}

.tariff-item {
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    position: relative;
}


/* Клас для анімації, що додається під час прокручування */
.box.animate {
    transform: translateX(0) translateY(0);
    opacity: 1;
}


.tariffs-wrapper {
    width: 95vw;
    /*height: 1015px;*/
    flex-shrink: 0;
    border-radius: 60px;
    background: #F5F5F7;
    margin: 8vw auto 0 auto;
    overflow: hidden;
    transition: transform 0.5s ease, opacity 1s ease;
}

.tariffs-top-section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 7vw;
    margin-bottom: 3vw;
}

.tariffs-theme {
    color: #363D63;
    font-family: Rubik, serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3vw;
}

.tariffs-bottom-section {
    width: 100%;
    height: 75%;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;

}

.tariff-container-1,
.tariff-container-2,
.tariff-container-3 {
    width: 32%;
    height: 75%;
    flex-shrink: 0;
    border-radius: 4vw;
    border: 1px solid #E5E5E5;
    background: #FFF;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tariff-container-1-top {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#margin1 {
    margin-bottom: 17.85vw;
}

#margin2 {
    margin-bottom: 7.5vw;
}

#margin3 {
    margin-bottom: 3.69vw;
}

.tariff-container-1-theme {
    width: 120%;
    color: #062440;
    font-family: Rubik, serif;
    font-size: 3vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.6px;
    margin-bottom: 3vw;
    display: flex;
}

.tariff-container-1-describe-1 {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 1.5vw;
}

.tariff-container-1-describe-1 img {
    width: 2vw;
    height: 2vw;
    margin: 0.3vw 1vw 0 0;
}

.tariff-container-1-text1,
.tariff-container-1-text2,
.tariff-container-1-text3 {
    color: #062440;
    width: 50vw;
    font-family: Rubik, serif;
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.tariff-container-1-text1 img,
.tariff-container-1-text2 img,
.tariff-container-1-text3 img {
    width: 1.67vw;
    height: auto;
}

.container-1-bottom {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.tariff-price {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3vw;
}

.c200, .c350, .c450 {
    color: #062440;
    text-align: right;
    font-family: Rubik, serif;
    font-size: 2.78vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
    margin-right: 1vw;
}

.hrn {
    color: #062440;
    font-family: Rubik, serif;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1vw;
}


.tariff-container-2 {
    background: #D5CAF1;
    margin: 0 5px 0 5px;
}


.tariff-container-3 {
    background: #F4E3B0;
}

.tariff-container-3 .tariff-container-1-describe-1 {
    width: 120%;
}

.tariff-container-1-text3 {
    font-weight: 500;
    width: 100%;
}

.tariff-container-1-text2 {
    font-size: 1.4vw;
    width: 65%;
}

.tariff-container-button {
    display: flex;
    width: 90%;
    padding: 2vw 3vw;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    border-radius: 4vw;
    border: 1px solid #2C324D;
    color: #2C324D;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 1.67vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tariff-container-button:hover {
    background: #2C324D;
    color: #FFF;
}

.tariff-icon {
    margin-left: 0.5vw;
}

.plus {
    width: 27%;
    /*height: 47px;*/
    flex-shrink: 0;
    border-radius: 40px;
    background: #997AEA;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

.tariff-container-button a {
    text-decoration: none !important;
    color: inherit;
    outline: none;
}

/*//////////////////////////////////Tariffs Mobile style///////////////////////////////*/
@media (max-width: 575px) {
    .tariffs-wrapper {
        width: 100vw;
        height: auto;
        flex-shrink: 0;
        border-radius: 9.35vw;
        background: #F5F5F7;
        margin: 28vw auto 0 auto;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .tariffs-bottom-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        -ms-overflow-style: none;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 4.67vw;
    }

    .tariffs-theme {
        font-size: 11.7vw;
        letter-spacing: -0.47vw;
    }

    .tariff-container-1, .tariff-container-2, .tariff-container-3 {
        width: 90.2vw;
        height: 163vw;
        border-radius: 9.35vw;
        border: 0.23vw solid #E5E5E5;
        padding: 6.31vw;
        scroll-snap-align: start;
    }

    .tariff-container-1-theme {
        width: 110%;
        font-size: 9.35vw;
        font-weight: 500;
        letter-spacing: -0.37vw;
        justify-content: center;
        margin-bottom: 9.35vw;
    }

    .tariff-container-1-describe-1 {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 4vw
    }

    .tariff-container-1-describe-1 img {
        width: 4.21vw;
        height: 4.21vw;
        margin: 0.3vw 2vw 0 0;
    }

    .tariff-container-1-describe-1 div {
        font-size: 4.21vw;
    }

    .c200, .c350, .c450 {
        font-size: 9.35vw;
    }

    .hrn {
        font-size: 5.61vw;
    }

    .plus {
        width: 20.75vw;
        border-radius: 9.35vw;
        font-size: 6.55vw;
        margin-left: 2vw;
    }

    .tariffs-dots-container {
        margin-bottom: 9.35vw;
    }

    .tariff-container-button {
        width: 79.02vw;
        padding: 5.61vw 13.12vw;
        gap: 2.34vw;
        border-radius: 9.35vw;
        font-size: 5.61vw;
    }
}


/*//////////////////////////////////Your english bubbles style///////////////////////////////*/
.your-bubble-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 6.73vw;
    padding: 1.39vw 0 1.39vw 0;
}

.your-bubble {
    width: 100%;
    color: rgba(255, 255, 255, 0.50);
    white-space: nowrap;
    font-family: Rubik, serif;
    font-size: 8.3vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.33vw;
    animation: rotateText 6s linear infinite;
}

@keyframes rotateText {
    0% {
        transform: rotate(3deg) translateX(-100%); /* Текст починається за правим краєм екрану */
    }
    100% {
        transform: rotate(3deg) translateX(100%); /* Текст знову рухається ліворуч */
    }
}

/*//////////////////////////////////Your english bubbles Mobile style///////////////////////////////*/
@media (max-width: 575px) {
    .your-bubble {
        color: rgba(255, 255, 255, 0.50);
        font-family: Rubik, serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1.6px;
    }
}

/*//////////////////////////////////How to join style///////////////////////////////*/
.join-wrapper-mobile {
    display: none;
}

.join-wrapper {
    width: 95vw;
    margin: 8.47% auto 0 auto;
}

.top-join-section {
    width: 100%;
    height: 48.98vw;
    display: flex;
    justify-content: space-between;
}

.left-top-join {
    height: 50%;
    display: flex;
    align-items: end;
    padding-bottom: 3.47vw;
}

.left-top-join div {
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 700;
    line-height: 5.56vw;
    letter-spacing: -0.22vw;
}

.left-down-join {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.step-1 {
    width: 23.33vw;
    height: 24.65vw;
    flex-shrink: 0;
    border-radius: 4.17vw;
    background: #FFF;
    padding: 2.78vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step-theme {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 2.22vw;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.step-describe {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 1.39vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 18.61vw;
}

.right-join-section {
    width: 46.96vw;
    height: 48.98vw;
    flex-shrink: 0;
    background-color: #997AEA;
    border-radius: 4.17vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-join-section img {
    width: 54.3%;
    height: 95.4%;
}

.bottom-join-section {
    display: flex;
    margin-top: 0.49vw;
    width: 100%;
    background-image: url("/images/line.png");
    background-size: 53.43vw 42.38vw;
    background-position: 31.25vw -9.72vw;
    background-repeat: no-repeat;
}

.left-bottom-join {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.step-img {
    width: 23.33vw;
    flex-shrink: 0;
    border-radius: 4.17vw;
    background: #F4E3B0;
}

.step-img img {
    width: 100%
}

.left-bottom-down-join {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.49vw;
}

.right-bottom-join {
    width: 46.96vw;
    height: 49.8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.step3-img {
    width: 46.96vw;
    height: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5CAF1;
    border-radius: 4.17vw;
}

.step3-img img {
    width: 80%;
    height: 100%;
}

/*/////////////////////////Mobile How to join style/////////////////////////*/
@media (max-width: 576px) {
    .join-wrapper {
        display: none;
    }

    .join-wrapper-mobile {
        display: flex;
        width: 100%;
        margin: 12.14vw auto 0 auto;
    }

    .section-mobile {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top-theme {
        width: 92.6vw;
        color: #ffffff;
        text-align: center;
        font-family: Rubik, serif;
        font-size: 11.69vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.47vw;
        margin-bottom: 7.47vw;
    }

    .mobile-screenshot-section {
        width: 100vw;
        height: 164.9vw;
        flex-shrink: 0;
        background-color: #997AEA;
        border-radius: 14.02vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.17vw;
    }

    .mobile-screenshot-section img {
        width: 85.75vw;
        height: 157.24vw;
    }

    .step-1 {
        width: 100vw;
        height: 53.5vw;
        border-radius: 9.35vw;
        padding: 5.61vw;
        margin-bottom: 1.17vw;
    }

    .step-describe {
        width: 88.88vw;
        height: 16.85vw;
        padding-right: 4.68vw;
        font-size: 4.68vw;
    }

    .step-theme {
        font-size: 7.48vw;
    }

    #step3, #step4, #step5 {
        width: 100vw;
        height: 47.9vw;
        border-radius: 9.35vw;
        background: #FFF;
        padding: 5.61vw;
    }

    .step-img {
        width: 100vw;
        height: 57.05vw;
        border-radius: 14.02vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.17vw;
    }

    .step-img img {
        width: 53.97vw;
        height: 57.05vw;
    }


    .step3-img {
        width: 100%;
        height: 57.05vw;
        background-color: #D5CAF1;
        border-radius: 14.02vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step3-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/*//////////////////////////////////Video event style///////////////////////////////*/
.video-theme-mobile {
    display: none;
}

.video-event {
    width: 95vw;
    height: 71.88vw;

    flex-shrink: 0;
    border-radius: 4.17vw;
    background: #4E5476;
    margin: 8.33vw auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-theme {
    color: #FFF;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
}

.video-block {
    width: 86.11vw;
    height: 48.61vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4.17vw;
    border: 0.69vw solid #FFF;
    background: #383F65;
    box-shadow: 0.56vw 0.28vw 1.11vw 0 rgba(0, 0, 0, 0.25);
}

#video-player {
    width: 85.83vw;
    height: 48.41vw;
    border-radius: 4.17vw;
    margin-bottom: 1.4vw
}

.button-play {
    width: 23.06vw;;
    height: 8.89vw;
    display: flex;
    align-items: center;
    border-radius: 2.78vw;
    background: #576091;
    padding: 1.67vw;
}

.button-play img {
    width: 5.56vw;
    height: 5.56vw
}

.button-play div {
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 1.39vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.11vw;
}

.video-container {
    margin-top: 1.39vw;
    display: flex;
    justify-content: center;
}

iframe {
    border-radius: 10px;
}

/*//////////////////////////////Video event mobile style//////////////////////////*/
@media (max-width: 576px) {
    .video-mobile-wrapper {
        width: 100%;
        height: 98.13vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 14.02vw;
    }

    .video-event {
        width: 100vw;
        height: 76.64vw;
        margin: 0;
    }

    .video-theme {
        display: none;
    }

    .video-theme-mobile {
        display: flex;
        color: #FFF;
        text-align: center;
        font-family: Rubik, serif;
        font-size: 11.68vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.47vw;
        margin-bottom: 7.48vw;
    }

    .video-block {
        width: 88.79vw;
        height: 61.68vw;
        border-radius: 9.35vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-play {
        width: 62.62vw;
        height: 21.5vw;
        border-radius: 7.48vw;
    }

    .button-play div {
        font-size: 3.74vw;
    }

    .button-play img {
        width: 14.02vw;
        height: 14.02vw;
    }

    .video-container {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #video-player {
        width: 85.78vw;
        height: 59.67vw;
        border-radius: 7.48vw;
        margin-top: 1.5vw
    }


}

/*//////////////////////////////////Feedback style///////////////////////////////*/
.feedback-container {
    width: 95vw;
    margin: 9.03vw auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-wrapper-top {
    width: 100%;
    height: 6.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.08vw;
}

.feedback-theme {
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
}

.arrow-pagination {
    width: 5.14vw;
    height: 5.14vw;
    border-radius: 50%;
    background-color: #F2C130;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.35vw;
}

.arrow-pagination:hover {
    background-color: #ffffff;
}

.feedback-pagination {
    display: flex;
    width: 11.11vw;
}

.feedback-wrapper-down {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    gap: 0.69vw;
}

.feedback-wrapper-down::-webkit-scrollbar {
    display: none;
}

.feedback-item {
    width: 18.61vw;
    height: 24.17vw;
    border-radius: 2.78vw;
    background: #F5F5F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.35vw;
    padding: 1.67vw;
    scroll-snap-align: start;
    flex: 0 0 auto;
}

.item-theme {
    display: flex;
    width: 9.03vw;
    height: 2.29vw;
    padding: 0.56vw 0.97vw;
    justify-content: center;
    align-items: center;
    gap: 0.69vw;
    border-radius: 4.72vw;
    background: #D5CAF1;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-describe {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75vw;
}

.read-far {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.commentator-block {
    display: flex;
    justify-content: start;
    align-items: center;
}

.commentator-info {
    margin-left: 0.69vw;
}

.commentator {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.comment-avatar img {
    width: 3.47vw;
    height: 3.47vw;
}

.commentator-location {
    color: #1C274C;
    font-family: Rubik, serif;
    font-size: 0.97vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dots-feedback {
    display: flex;
    text-align: center;
    margin-top: 0.69vw;
}

.dot-feedback {
    display: inline-block;
    width: 1.11vw;
    height: 1.11vw;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 0 0.35vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot-feedback.active {
    background-color: #F2C130; /* Активна крапка */
}

#dot-feedback, #dot-feedback2, #dot-feedback3, #dot-feedback4 {
    display: none;
}

/*//////////////////////////////Feedback mobile style//////////////////////////*/
@media (max-width: 576px) {
    .feedback-container {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback-wrapper-top {
        width: 100%;
        height: 27.57vw;
        margin-bottom: 7.01vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 14.02vw;
    }

    .feedback-theme {
        width: 65%;
        font-size: 11.68vw;
        letter-spacing: -0.47vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .feedback-pagination {
        display: none
    }

    .item-theme {
        width: 43.69vw;
        height: 7.71vw;
        font-size: 3.27vw
    }

    .item-describe {
        font-size: 3.74vw;
        line-height: 6.54vw
    }

    .read-far {
        font-size: 3.74vw;
    }

    .commentator-info {
        margin-left: 0.69vw;
    }

    .commentator {
        font-size: 3.27vw
    }

    .comment-avatar img {
        width: 11.68vw;
        height: 11.68vw;
    }

    .commentator-location {
        font-size: 3.27vw
    }

    .dots-feedback {
        width: 28.36vw;
        height: 3.74vw
    }

    .dot-feedback {
        width: 3.74vw;
        height: 3.74vw
    }

    .feedback-wrapper-down {
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        gap: 2.34vw;
    }

    .feedback-wrapper-down::-webkit-scrollbar {
        display: none;
    }

    .feedback-item {
        width: 90.19vw;
        height: 81.31vw;
        border-radius: 9.35vw;
        background: #F5F5F7;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.17vw;
        padding: 5.61vw;
        scroll-snap-align: center;
        flex: 0 0 auto;
    }

    #dot-feedback, #dot-feedback2, #dot-feedback3, #dot-feedback4 {
        display: flex;
    }

}

/*//////////////////////////////////Contacts style///////////////////////////////*/
.contacts-wrapper {
    width: 100vw;
    height: 60vw;
    border-radius: 4.17vw 4.17vw 0 0;
    background-color: #4E5476;
    margin-top: 8.33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacts-theme {
    width: 80%;
    height: 13.88vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.56vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
    padding-top: 2.5vw;
}

.question {
    width: 94.44vw;
    height: 31.53vw;
    border-radius: 4.17vw;
    background: #F4E3B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.56vw;
}

.question-left {
    width: 40%;
}

.question-theme, .question-theme-2 {
    color: #363D63;
    font-family: Rubik, serif;
    font-size: 4.17vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.question-theme-2 {
    font-style: italic;
    margin-bottom: 2.78vw;
}

.question-describe {
    width: 30.04vw;
    color: #363D63;
    font-family: Rubik, serif;
    font-size: 1.94vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.question-right {
    width: 41.67vw;
    display: flex;
    justify-content: center;
    position: relative;
}

.question-right img {
    width: 22.7vw;
    height: 22.7vw;
    position: relative;
    z-index: 1;
    left: -10.42vw;
}

.question-arrow {
    position: absolute;
    right: 0.07vw;
}

.telegram {
    width: 22.7vw;
    height: 22.7vw;
    border-radius: 50%;
    background: #F2C130;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    right: 10.42vw;
}

.telegram div {
    width: 11.74vw;
    color: #1C274C;
    text-align: center;
    font-family: Rubik, serif;
    font-size: 2.22vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.telegram:hover {
    background: #2C324D;
}

.telegram:hover div {
    color: #ffffff;
}

.telegram:hover svg path {
    fill: #FFFFFF;
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.3vw;
}

.social {
    width: 31.25vw;
    height: 13.89vw;
    border-radius: 4.17vw;
    background: #383F65;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 2.78vw;
    margin: 0.21vh;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 2.22vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social svg {
    width: 2.78vw;
    height: 2.78vw;
}

.social div {
    font-size: 2.22vw;
}

.social:hover {
    background: #ffffff;
}

.social:hover div {
    color: #2C324D;
}

.social:hover svg path {
    fill: #2C324D;
}

/*//////////////////////////////////Contacts mobile style///////////////////////////////*/
@media (max-width: 576px) {
    .contacts-wrapper {
        width: 100vw;
        height: auto;
        margin-top: 14.02vw;
        padding: 5.61vw 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #4E5476;
        border-radius: 40px;
    }

    .contacts-theme {
        width: 80%;
        height: auto;
        font-size: 11.69vw;
        margin: 14.02vw 0 7.48vw 0;
    }

    .question {
        width: 88.88vw;
        height: 128.49vw;
        border-radius: 60px;
        background: #F4E3B0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .question-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .question-theme, .question-theme-2 {
        color: #363D63;
        font-family: Rubik, serif;
        font-size: 7.48vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .question-theme-2 {
        font-style: italic;
        margin-bottom: 9.35vw;
    }

    .question-describe {
        width: 77.52vw;
        color: #363D63;
        font-family: Rubik, serif;
        font-size: 4.67vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .question-right {
        width: 100vw;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 60px;
    }

    .question-right img {
        width: 44.4vw;
        height: 44.4vw;
        position: relative;
        z-index: 1;
        left: -18%;
    }

    .question-arrow {
        display: none;
    }

    .telegram {
        width: 44.4vw;
        height: 44.4vw;
        border-radius: 327px;
        background: #F2C130;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 2;
        right: 8%;
    }

    .telegram div {
        width: 39.5vw;
        color: #1C274C;
        text-align: center;
        font-family: Rubik, serif;
        font-size: 4.67vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .telegram svg {
        width: 9.35vw;
        height: 9.35vw;
        margin-bottom: 2.34vw;
    }

    .telegram:hover {
        background: #2C324D;
    }

    .telegram:hover div {
        color: #ffffff;
    }

    .telegram:hover svg path {
        fill: #FFFFFF;
    }

    .socials {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0.7vw;
    }

    .social {
        width: 88.88vw;
        height: 28.99vw;
        border-radius: 9.35vw;
        font-size: 5.61vw;
        padding: 5.61vw;
    }

    .social svg {
        width: 9.35vw;
        height: 9.35vw;
    }

    .social div {
        font-size: 5.61vw;
    }

}

/*//////////////////////////////////Footer navbar style///////////////////////////////*/

.footer .navbar {
    padding: 2.78vw;
}

.footer .f-button {
    width: 9.26vw;
    height: 3.47vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.69vw;
    border-radius: 4.72vw;
    border: 1px solid #D2D2D7;
    background-color: #4E5476;
    color: #FFF;
    text-align: center;
    font-family: Rubik, serif;;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.f-button svg {
    width: 1.2vw;
    height: 1.2vw;
}

.f-button span {
    margin-left: 0.69vw;
    font-size: 1.11vw;
}

.f-button:hover {
    background: #FFF;
    color: #383F65;
}

.f-button:hover svg path {
    fill: #383F65;
}

@media (max-width: 576px) {
    .footer .navbar {
        background-color: #2C324D;;
    }
}