/*//////////////////////////////////What will you get?///////////////////////////////*/
.wyg-left-first, .wyg-left-next{
    transform: translateX(-60%);
}
.wyg-center-down{
    transform: translateY(-60%);
}
.wyg-center-up{
    transform: translateY(60%);
}
.wyg-right{
    transform: translateX(60%);
}
.wyg-box{
    opacity: 0;
    transition: transform 1.5s ease, opacity 1s ease;
    position: relative;
}
.wyg-box.animate {
    transform: translateX(0) translateY(0);
    opacity: 1;
}

.what-you-get-wrapper {
    width: 94.4vw;
    height: 60%;
    margin: 6.9vh auto 0 auto;
}
#what-you-get-top-section {
    width: 100%;
    height: 70%;
    display: flex;
}
.top-left-column {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.what-you-get-title {
    width: 100%;
    height: 46.04%;
    display: flex;
    align-items: center;
    padding: 9.6% 0 4% 0;
    margin-top: 4%;
    color: #FFF;
    font-family: Rubik, serif;
    font-size: 5.55vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.22vw;
}
.what-you-get-components {
    width: 100%;
    height: 73%;
    display: flex;
}
.event-access-component {
    width: 46.4%;
    margin: 0 0.35vw 0 0;
    background: #D5CAF1;
}
.event-access-component,
.community-component,
.qualified-teachers-component,
.regular-practice-component,
.event-formats-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2.78vw;
    border-radius: 4.2vw;
}
.event-access-component div,
.community-component div,
.qualified-teachers-component div,
.regular-practice-component div,
.event-formats-component div {
    width: 21.25vw;
    font-family: Rubik, serif;
    color: #1C274C;
    font-size: 1.94vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.event-access-component svg,
.community-component svg,
.qualified-teachers-component svg,
.regular-practice-component svg,
.event-formats-component svg {
    width: 4.16vw;
    height: 4.16vw;
    margin: 0 0 4.58vw 0;
    flex-shrink: 0;
}
.community-component {
    width: 30.8vw;
    margin: 0 0.35vw 0 0;
}
.community-component,
.qualified-teachers-component,
.event-formats-component {
    background: #FFF;
}
.top-right-image {
    width: 38%;
    height: 100%;
}
.top-right-image img {
    width: 100%;
    height: 97.5%;
}
.qualified-teachers-component {
    width: 33.2vw;
    margin: 0 0.35vw 0.35vh 0;
}
.regular-practice-component {
    background: #F4E3B0;
    width: 27.4vw;
}
.event-formats-component {
    width: 33.1vw;
    margin: 0 0.35vw 0.35vh 0.35vw;
}
.what-you-get-bottom-section {
    display: flex;
    margin-top: 0.5vh;
}
/*//////////////////////////////////What will you get Mobile///////////////////////////////*/
@media (max-width: 575px) {
    #what-you-get-wrapper {
        display: none;
    }
    .what-you-get-wrapper-mobile {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10vw 0;
        overflow: hidden;
    }
    .what-you-get-wrapper::-webkit-scrollbar {
        display: none;
    }
    .what-you-get-title-mob {
        width: 100%;
        display: flex;
        margin-bottom: 5vw;
        justify-content: center;
        color: #FFF;
        font-family: Rubik, serif;
        font-size: 11vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.47vw;
    }
    .event-access-component {
        width: 90%;
        margin-bottom: -5vw;
        background: #D5CAF1;
    }
    .event-access-component,
    .community-component,
    .qualified-teachers-component,
    .regular-practice-component,
    .event-formats-component {
        width: 95%;
        height: 59.4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-bottom: -5vw;
        padding: 6.64vw;
        flex-shrink: 0;
        border-radius: 9.35vw;
    }
    .event-access-component svg,
    .community-component svg,
    .qualified-teachers-component svg,
    .regular-practice-component svg,
    .event-formats-component svg {
        width: 14.02vw;
        height: 14.02vw;
    }
    .event-access-component div,
    .community-component div,
    .qualified-teachers-component div,
    .regular-practice-component div,
    .event-formats-component div {
        width: 77.34vw;
        font-size: 6.54vw;
    }
}
.what-you-get-wrapper-mobile .swiper-wrapper {
    padding-left: 2.5vw; /* Відступ зліва */
}