/*//////////////////////////////////Your english bubbles style///////////////////////////////*/

.your-bubble-wrapper {
    width: 100vw;
    height: 16vw;
    padding-top: 2vw;
    position: relative;
    margin: 7vw 0;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(3deg);
    overflow: hidden;
}
.marquee {
    display: flex;
    position: absolute;
    white-space: nowrap;
    -webkit-animation: marquee 30.3s linear forwards;
    will-change: transform;
}
.marquee2 {
    display: flex;
    position: absolute;
    -webkit-transform: translateX(100%);
    white-space: nowrap;
    -webkit-animation: marquee2 60.3s linear infinite;
}
.marquee3 {
    display: flex;
    position: absolute;
    -webkit-transform: translateX(100%);
    white-space: nowrap;
    -webkit-animation: marquee2 60.3s linear infinite;
    animation-delay: 30.2s;
    -webkit-animation-delay: 30.2s;
}
.marquee-text {
    width: 116vw;
    display: inline-block;
    will-change: transform;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    overflow: hidden;
    font-size: 8.3vw;
    font-family: Rubik, serif;
    font-style: normal;
    color: rgba(255, 255, 255, 0.50);;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.33vw;
}
@-webkit-keyframes marquee {
    from {
        -webkit-transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}
@-webkit-keyframes marquee2 {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(-100%);
    }
}
/*//////////////////////////////////Your english bubbles Mobile style///////////////////////////////*/
@media (max-width: 575px) {
    .your-bubble-wrapper {
        width: 100vw;
        height: 16vw;
        padding-top: 2vw;
        position: relative;
        margin: 20vw 0;
        -webkit-transform-origin: center;
        -webkit-transform: rotate(3deg);
        overflow: hidden;
    }
    .marquee {
        display: flex;
        position: absolute;
        white-space: nowrap;
        -webkit-animation: marquee 12.3s linear forwards;
    }
    .marquee2 {
        display: flex;
        position: absolute;
        -webkit-transform: translateX(100%);
        white-space: nowrap;
        -webkit-animation: marquee2 24.3s linear infinite;
    }
    .marquee3 {
        display: flex;
        position: absolute;
        -webkit-transform: translateX(100%);
        white-space: nowrap;
        -webkit-animation: marquee2 24.3s linear infinite;
        animation-delay: 12.2s;
        -webkit-animation-delay: 12.2s;
    }
    .marquee-text {
        width: 116vw;
        display: inline-block;
        will-change: transform;
        -webkit-font-smoothing: antialiased;
        margin: 0 1vw 0 0;
        white-space: nowrap;
        overflow: hidden;
        font-family: Rubik, serif;
        font-style: normal;
        color: rgba(255, 255, 255, 0.50);
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.33vw;
        font-size: 8.3vw;
    }
    @-webkit-keyframes marquee {
        from {
            -webkit-transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }
    @-webkit-keyframes marquee2 {
        from {
            -webkit-transform: translateX(100%);
        }
        to {
            -webkit-transform: translateX(-100%);
        }
    }
}